.sub-tab {
	float:left;
	width:100%;
	background-color: #EDEDED;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D9D9D9;
	
	padding-top: 7px;
	padding-bottom: 7px;
}

.sub-tab li {
	float:left;
	list-style:none;
	margin-left: 12px;
	margin-right: 12px;
}

.sub-tab li a:hover{
	color: #ff8000;
} 

.sub-tab .vsplit {
	margin-top:3px;
	background-color: #D9D9D9;
	width:2px;
	height:15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background-color: #EDEDED
}