body {
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    margin: unset;
    float: left;
    padding: unset;
}

li {
    margin: 0 .25rem;
    float: left;
}

/*Tab栏*/
.panel-heading {
    height: 47px;
    line-height: 44px;
    border-bottom: 1px solid #E8E8E8;
}

.panel-heading > .nav-tabs > li {
    float: left;
    padding: 0 1.5rem;
    margin: auto;
}

.panel-heading > .nav-tabs > li:hover, .panel-heading > .nav-tabs > li.active {
    background-color: #f5fafe;
    border-bottom: 3px solid #01aaef;
}

.panel-heading > .nav-tabs > li:hover > a, .panel-heading > .nav-tabs > li.active > a {
    color: #01aaef;
}

.panel-heading > .nav-tabs > li > a {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-family: 微软雅黑, cursive;
    font-size: 14px;
    font-weight: normal;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table tr {
    /*line-height: 35px;*/
    /* margin: 5px; */
    /*height: .175rem;*/
    border-top: 1px solid #dadada;
}

.form-table td {
    white-space: nowrap;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.form-table.form-table-x td {
    padding: 1rem;
}

.form-table.form-table-m td {
    padding: .75rem;
}

.form-table.form-table-s td {
    padding: .5rem;
}

.form-table td.td-label, .form-table th {
    background-color: #E8E8E8;
    text-align: center;
    /*padding: .05rem .1rem;*/
}

.form-table th {
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    padding: 1rem;
}

.form-table.hover tr:hover {
    background-color: #E8E8E8;
}

.form-table td.td-label label {
    float: left;
    margin-right: .05rem;
}

.form-title-block {
    /* margin: 0 5px; */
    text-align: left;
    padding: .025rem 0;
    /* position: fixed; */
    background: #fff;
    width: 100%;
    /* min-height: 85px; */
    top: 0;
    z-index: 100;
    min-height: auto;
    position: unset;
}

.form-title {
    padding-top: .025rem;
    color: #4da1ff;
    padding-bottom: .025rem;
    background-color: white !important;
    border-left: 3px solid #4da1ff;
}

.form-title > span {
    font-size: .065rem;
    margin: .05rem;
}

.form-table tr:first-child td:first-child, .form-table tr:first-child th:first-child {

}