.ztree * {
	font-size: 14px;
	font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.ztree li {
	line-height: 22px;
}
.ztree li a {
	height: 22px;
}
.ztree li a.curSelectedNode {
	height: 22px;
}
.ztree li span.button.ico_open{
	vertical-align:center; 
}
.ztree li span.button.ico_close{
	vertical-align:center; 
}
.ztree li span.button.ico_docu{
	vertical-align:center; 
}
.ztree li span.button.edit {
	vertical-align:center; 
}
.ztree li span.button.remove {
}
.ztree li a {
    vertical-align: baseline;
}