
#meetings-setting .tab-content, #meetings-setting .panel {
    width: 100%;
}

#meetings-setting .tab-pane {
    width: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: 45rem;
}

#meetings-setting .ul-float-center {
    left: 27.5%;
    position: relative;
}