/**
* Ö÷Ò³µÄCSS
*/

html, body {
	height: 100%;
}

/*
body {
	text-align:center
}*/

.dropdown-toggle span,dropdown-menu li a {
	vertical-align: middle;
}

#menuColumn {
	background-color: #EDEDED;
}

.badge {
    position: absolute;
    left: 3px;
    top: 6px;
  	background-color: #e02222;
    border-radius: 12px !important;
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
}

.tree_badge_INFO {
	font-size:11px;
	color:#ffffff;
	background-color: #5CB85C;
	border-radius: 12px !important;
	padding:1px 5px 1px 5px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.tree_badge_WARN {
	font-size:11px;
	color:#ffffff;
	background-color: #F0AD4E;
	border-radius: 12px !important;
	padding:1px 5px 1px 5px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.tree_badge_ERROR {
	font-size:11px;
	color:#ffffff;
	background-color: #e02222;
	border-radius: 12px !important;
	padding:1px 5px 1px 5px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.ztree * {font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
.ztree li ul{ margin:0; padding:0}
.ztree li {line-height:30px;}
.ztree li a {width:100%;height:30px;padding: 0px;}
.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
.ztree li a span.button.switch {visibility:hidden}
.ztree.showIcon li a span.button.switch {visibility:visible}
.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
.ztree li span {line-height:30px;}

#shortcut a{
	color: #FFFFFF;
	text-decoration:none;
	margin-left: 10px;
}

#shortcut a:hover {
	color: #CD6600;	
}

.row-custom {
    margin-left: -5px;
    margin-right: -5px;
}


.caret {
	margin-top:4px;
}

.menu-switch-bar {
	background-color: #C7E0F6
}

.panel-body-no-border {
	border: none;
	padding: 0px;
}

.panel-no-border {
	margin: 0px;
	border: none;
	box-shadow: none;
}

.navbar {
	background-color: #0F7BD6;
	margin-bottom: 0px;
}

.navbar a {
	color: #FFFFFF;
	outline: none;
	background-color: transparent;
}

.navbar-custom {
	margin-bottom: 0px;
	height: 80px;
	line-height: auto;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
}

.navbar-nav> li > a {
	line-height: normal;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 0px;
}

.navbar-nav li a img{
	height:20px;
	margin-bottom: 2px;
}


.navbar-nav>li>a:hover {
	background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
	border-color: transparent;
	outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
	border-color: transparent;
	outline: none;
	color: #CD6600;
}